
@media (min-width: 320px){

  .action-container{
    display: flex;

    margin-bottom: 16px;
    padding: 15px;

    color: #1B4773;
    border-radius: 13px;

    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 120%;

    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
  }

  .action-container p{
    max-width: 400px;
  }

  .background-gradient{
    background: #FFFFFF;
    position: relative;
    border: none;
    color: white;
    overflow: hidden;
  }


  .background-gradient:before{
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(50% 29.71% at 50% 53.24%, rgba(183, 183, 255, 0.46) 0%, #FFFFFF 100%);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  .background-gradient:hover:before{
    --size: 1000px;
  }

  .main-page{
    background-color: #F3F3F3;
    inline-size: auto
  }



  .text{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text p{
    margin: 0px 20px;
  }

  /* .text img{
    width: 15px;
    height: 15px;
  } */


  .icon img{
    width: 45px;
  }

  .large {
    width: 100%;
    align-items: flex-end;
    position: relative;
  }

  .large h3{
    margin-bottom: 6px;

    color: #1B4773;

    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 120%;

  }

  .dropdown li{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
    color: #000000;
    max-width: 768px;
    margin-bottom: 10px;
  }

  .large p, .dropdown p{
    font-size: 17px;
    color: #1B4773;
    max-width: 768px;
    margin: 30px 0px 10px 0px;
  }

  .large p{
    font-weight:normal;
    font-style: normal;
    line-height: 120%;
    color: #000000;
  }

  .dropdown p{
    font-weight:bold;
    font-style: normal;
    line-height: 120%;
    color: #1B4773;
  }

  .large img, .dropdown img{
    margin: 0px 15px;
  }


  .noaction p{
    margin: 0px 25px;
    max-width: 768px;
  }


  .dropdown{
    align-items: flex-start;
    background-color: #FFFF;
  }

  .noaction{
    background-color: #FFFFFF;
  }

  #no-cursor{
    cursor: default;
  }

  /* .background-gradient img{
    position: relative;
    transition: width 0.2s ease, height 0.2s ease;
  }

  .background-gradient img:hover:before{
    left: 24px;
    bottom: 15px;
    position: relative;
    transition: width 0.2s ease, height 0.2s ease;
  } */


}




@media (min-width: 768px){


  .action-container{
    padding: 20px;
  }

  .action-container{
    font-size: 30px;
  }


  .large h3, .dropdown h3{

    margin-bottom: 6px;

    color: #1B4773;

    font-size: 30px;

  }

  .large p, .dropdown li, .dropdown p{
    font-size: 22px;
    max-width: 400px;
  }

  .noaction p{
    margin: 0px 80px;
    max-width: 400px;
  }


  .icon img{
    width: 70px;
  }

  .text p{
    margin: 0px 80px;
  }
}

@media (min-width: 1024px) {

  .action-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .action-section a{
    width: 44%;
    padding: 2.4%;
    margin-bottom: 2.4%;
  }

  .action-container{
    padding: 2.4%;
    margin-bottom: 2.4%;
  }

  .large{

    align-items: baseline;
  }

  .noaction{
    width: 44%;
    align-items: flex-start;
  }

  .noaction p{
    margin: 0px 15px;
    max-width: 300px;
  }

  .icon img{
    width: 45px;
  }



  .text p{
    margin: 0px 20px;
  }
}

@media (min-width: 1440px) {

  .large p, .dropdown li, .dropdown p{
    font-size: 25px;
    max-width: 800px;
  }


}
