
@media (min-width: 320px) {
  .banner h3{
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 60px;
    font-weight: bold;
    font-style: normal;
  }

  .banner p, .banner li{
    max-width: 225px;

    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
  }

  .banner li{
    padding: 6px 0px;
    margin-bottom: 30px;
  }


  .banner {
    margin: 0px 15px 40px 15px;
    padding-bottom: 30px;

    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }



  .numbers{
    margin-bottom: 80px;
  }

  .stats{
    color: white;
    background-image: url(../img/bg_stats.png);
  }

  .trenings{
    background-image: url(../img/bg-trenings.png);
  }

  .dpo{
    background-image: url(../img/bg_dpo.png);
    color: white;
  }

  /* .custom-section-list h2{
    padding: 16px 0px 30px 0px;

    color: white;

    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 35px;
  } */

}

@media (min-width: 768px) {

  .banner p, .banner li{
    max-width: 400px;

    font-size: 22px;
  }


  .banner{
    margin: 0px 40px 30px 40px;
  }


}


@media (min-width: 1024px) {

  .banner{
    margin: 0px 40px 60px 40px;
  }

}

@media (min-width: 1440px) {

  .banner p, .banner li{
    max-width: 400px;

    font-size: 22px;
  }


  .banner{
    margin: 0px 150px 80px 150px;
    background-position: top;
  }

}
