@media (min-width: 320px) {

  .button {
    display: inline-block;

    width: 100%;
    padding: 15px 20px;

    color: white;
    border: none;
    border-radius: 13px;
    background: #1B4773;

    font-size: 20px;
    font-weight: normal;
    font-style: normal;
  }



  .flex {
    display: flex;

    width: 100%;


    color: #1B4773;
    border-radius: 13px;
    background: #FFFFFF;



    justify-content: space-between;
    align-items: center;

  }

  .flex:hover{
    background-color: #DBDBFF;
  }


  .button-text,
  .button-icon {
    display: inline-flex;

    height: 100%;
  }



  .button {
    font-size: 20px;
  }

  .fixed{
    width: 60%;
    height: 50px;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    left: 78%;
  }

}

@media (min-width:1024px){
  .fixed{
    width: 20%;
    height: 50px;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    left: 78%;
  }
}
