
@media (min-width: 320px) {
  .carusel{
    display: flex;
    overflow: auto;

    padding: 20px 0px 10px 0px;

    white-space: nowrap;

    justify-content: space-between;
    align-items: center;

  }

  .carusel img{
    width: 100%;
    padding: 0px 15px;
  }


  .carusel::-webkit-scrollbar{
    display: none;
  }


  .carusel-section h2{
    padding: 16px 0px 30px 0px;

    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 120%;
  }
}


@media (min-width: 768px){
  .carusel-section h2{
    font-size: 40px;
  }

  .carusel img{
    padding: 0px 40px;
  }
}

@media (min-width: 1440px){
  .carusel-section h2{
    font-size: 60px;
  }
}
