footer{
  padding: 35px 30px;

  background-color: #1B4773;
}

.white-logo{
  display: flex;

  margin-bottom: 20px;

  color: white;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  justify-content: space-between;
  align-items: center;
}

.white-logo img{
  width: 54px;
  height: 54px;
}

.footer-link, .bottom{
  display: flex;
  flex-direction: column;

  padding: 25px 0px;

  align-items: flex-start;
}

.footer-link p{
  color: white;

  font-size: 16px;
  font-weight:  500;
  font-style: normal;

}

.footer-link a{
  margin-top: 16px;

  color: white;

  font-size: 16px;
  font-weight:  300;
  font-style: normal;
  line-height: 18px;
}

.bottom p{
  margin-bottom: 16px;

  color: white;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.bottom a{
  color: white;
}
