@media (min-width: 320px) {
  footer{
    margin-top: 30px;
    padding: 35px 30px;

    background-color: #1B4773;
  }

  .white-logo{
    display: flex;

    width: 100%;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    justify-content: flex-start;
    align-items: center;
    padding: 30px 0px;
  }


  .white-logo img{
    width: 54px;
  }

  .white-logo p{
    color: #E7E7E7;
    padding-left: 3%;
    line-height: 130%;
    max-width: 700px;
  }

  .footer-link, .bottom{
    display: flex;
    flex-direction: column;

    padding: 25px 0px;

    align-items: flex-start;
  }

  .footer-link a, .footer-link p{
    margin-top: 16px;

    color: #E7E7E7;

    font-size: 16px;
    font-weight:  300;
    font-style: normal;
    line-height: 130%;
    text-decoration: none;
  }

  .footer-link a:hover, .bottom a{
    text-decoration: underline;
  }

  .footer-link p{
    font-weight:  bold;
    font-style: normal;
  }

  .bottom p{
    margin-bottom: 16px;

    color: #E7E7E7;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 130%;
    text-decoration: none;
  }

  .bottom a{
    color: #E7E7E7;
    text-decoration: none;
  }

}

@media (min-width: 768px){

  .links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .white-logo{
    font-size: 23px;

  }

  .footer-link a, .footer-link p{
    font-size: 23px;
  }

  .bottom p{
    font-size: 23px;
  }

  footer{
    padding: 35px 40px;

    background-color: #1B4773;
  }

  .white-logo img{
    width: 80px;
  }

  .footer-link, .bottom{
    padding: 35px 20px;
    max-width: 400px;
  }

}


@media (min-width: 1024px){


  footer{
    padding: 35px 40px;
  }

}

@media (min-width: 1024px){


  footer{
    padding: 35px 30px;
  }

}
