@media (min-width: 320px) {

  header{
    display: flex;

    padding: 10px 15px 25px 15px;

    justify-content: space-between;
    align-items: center;
  }


  header a{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
  }


  nav ul{
    display: flex;
    overflow: auto;

    padding: 0px 15px 40px 15px;

    white-space: nowrap;

    justify-content: space-between;
    align-items: center;

  }

  nav a{
    text-decoration: none;
    color: black;
  }

  nav ul::-webkit-scrollbar{
    display: none;
  }

  nav li{
    padding: 15px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
  }

  .selected{
    font-weight: bold;
    font-style: normal;
  }

  nav li:hover{
    background-color: #F9F9F9;
    border-radius: 17px;
  }

}

@media (min-width: 768px){

  header a{
    font-size: 20px;
  }

  nav li{
    font-size: 20px;
  }

  header img{
    width: 150%;
  }

  /* nav ul {
    padding: 0px 80px 40px 80px;
  }

  header{
    padding: 10px 80px 25px 80px;
  } */


}


@media (min-width: 1024px){

  header a{
    font-size: 20px;
  }

  nav li{
    font-size: 20px;
    /* padding-right: 70px; */
  }

  header img{
    width: 150%;
  }

  nav ul {
    padding: 0px 40px 40px 40px;
  }

  header{
    padding: 10px 40px 25px 40px;
  }


}

@media (min-width: 1440px){

  header a{
    font-size: 20px;
  }

  nav li{
    font-size: 20px;
    /* padding-right: 70px; */
  }

  header img{
    width: 150%;
  }

  nav ul {
    padding: 0px 150px 40px 150px;
  }

  header{
    padding: 10px 150px 25px 150px;
  }


}
