

header, nav, section, footer, button{
  font-family: "Formular", sans-serif;
}

header{
  display: flex;

  padding: 10px 15px 20px 15px;

  justify-content: space-between;
  align-items: center;
}


header a{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
}


nav ul{
  display: flex;
  overflow: auto;

  padding: 0px 15px 40px 15px;

  white-space: nowrap;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;

  justify-content: flex-start;
  align-items: center;

}

nav a{
  text-decoration: none;
  color: black;
}

nav ul::-webkit-scrollbar{
  display: none;
}

nav li{
  padding-right: 25px;
}


section {
  padding: 0px 15px;
}


.main-page-title h1{
  margin-bottom: 16px;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 36.69px;
}

.main-page-title p{
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
}

.main-page-title button{
  display: inline-block;

  width: 100%;
  padding: 15px;

  color: white;
  border: none;
  border-radius: 13px;
  background: #1B4773;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
}

.main-page-title {
  margin-bottom: 40px;
}

.carts img{
  width: 100%;
}
.carts h2{
  margin: 15px 0px;

  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
}

.carts p{
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}

.section-cart button{
  display: flex;

  width: 100%;
  padding: 15px 20px;

  color: #1B4773;
  border: none;
  border-radius: 13px;
  background: #FFFFFF;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;

  justify-content: space-between;
  align-items: center;

}

.carts{
  margin-bottom: 40px;
}

.button-text,
.button-icon {
  display: inline-flex;

  height: 100%;
}


.section-cart{
  margin-bottom: 40px;
  padding: 15px;

  border-radius: 25px;
  background-color: #F3F3F3;
}


.chevron{
  margin-bottom: 40px;

  font-size: 17px;
  font-weight:  500;
  font-style: normal;
  line-height: 19px;
}

.container-chevron{
  display: flex;

  margin-bottom: 16px;
  padding: 15px;

  border-radius: 13px;
  background-color: #F3F3F3;

  justify-content: space-between;
  align-items: flex-start;
}

.container-chevron img{
  width: 14px;
  height: 14px;
}

footer{
  padding: 35px 30px;

  background-color: #1B4773;
}

.white-logo{
  display: flex;

  margin-bottom: 20px;

  color: white;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  justify-content: space-between;
  align-items: center;
}

.white-logo img{
  width: 54px;
  height: 54px;
}

.footer-link, .bottom{
  display: flex;
  flex-direction: column;

  padding: 25px 0px;

  align-items: flex-start;
}

.footer-link p{
  color: white;

  font-size: 16px;
  font-weight:  500;
  font-style: normal;
  line-height: 18px;

}

.footer-link a{
  margin-top: 16px;

  color: white;

  font-size: 16px;
  font-weight:  300;
  font-style: normal;
  line-height: 18px;
}

.bottom p{
  margin-bottom: 16px;

  color: white;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.bottom a{
  color: white;
}




.main-title img{
  width: 100%;
}

.main-title h1{
  margin: 16px 0px;

  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  line-height: 42px;
}


.main-title p{
  margin-bottom: 20px;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.main-title p:last-child{
  margin-bottom: 40px;
}


.content-section h2{
  padding: 16px 0px 30px 0px;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
}

.content-section {
  margin: 0px 15px 30px 15px;
  padding-bottom: 30px;

  border-radius: 25px;
  background-color: #F3F3F3;
}

.deep-link h3{
  margin-bottom: 6px;

  color: #1B4773;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 25px;

}

.deep-link p{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.deep-link{
  display: flex;

  margin-bottom: 15px;
  padding: 13px 13px 35px 13px;

  border-radius: 25px;
  background-color: #FFFFFF;

  justify-content: space-between;
  align-items: flex-end;
}

.deep-link img{
  margin: -25px 15px;
}

.list li{
  padding: 6px 0px;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.list{
  margin-bottom: 30px;
}



.button-list {
  display: flex;

  width: 100%;
  padding: 15px 20px;

  color: #1B4773;
  border: none;
  border-radius: 20px;
  background: #FFFFFF;
  background: linear-gradient(360deg, #FFFFFF 3.77%, #FFFFFF 107.55%);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);

  font-size: 17px;
  font-weight: normal;
  font-style: normal;

  justify-content: space-around;
  align-items: baseline;

}


.button-text,
.button-icon {
  display: inline-flex;

  height: 100%;
}


.default-container p{
  margin-left: 25px;

  color: #1B4773;

  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  line-height: 120%;

}

.default-container {
  display: flex;

  margin-bottom: 15px;
  padding: 24px 22px;

  border-radius: 25px;
  background-color: white;

  justify-content: space-between;
  align-items: center;
}


.custom-section h2{
  padding: 16px 0px 30px 0px;

  color: white;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
}

.custom-section h3{
  color: white;

  font-size: 45px;
  font-weight: bold;
  font-style: normal;
}

.custom-section P{
  max-width: 227px;

  color: white;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}


.custom-section {
  margin: 0px 15px 30px 15px;
  padding-bottom: 30px;

  border-radius: 25px;
  background-image: url(../img/bg_stats.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}


.stats{
  margin-bottom: 30px;
}

.content-section-logos h2{
  margin-bottom: 20px;
  padding: 16px 0px 10px 0px;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
}


.content-section-logos{
  margin: 0px 0px 30px 0px;
  padding-bottom: 30px;

  border-radius: 25px;
}

.logos{
  display: flex;
  overflow: auto;

  padding: 20px 15px 30px 15px;

  white-space: nowrap;

  justify-content: space-between;
  align-items: center;

}

.logos img{
  width: 100%;
  margin-right: 25px;
}


.logos::-webkit-scrollbar{
  display: none;
}


.person h3{
  margin-bottom: 6px;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 25px;
}

.person p{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.person{
  display: flex;

  margin-bottom: 20px;

  justify-content: space-between;
  align-items: center;
}

.person img{
  width: 30%;
}


.contacts li,a{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.contacts ul{
  margin-bottom: 20px;
}



.container-chevron-large{
  display: flex;

  margin-bottom: 16px;
  padding: 15px;

  color: #1B4773;
  border-radius: 13px;
  background-color: white;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 120%;

  justify-content: space-between;
  align-items: flex-start;;
}

.container-chevron-large img{
  width: 14px;
  height: 14px;
}



.custom-section-list h2{
  padding: 16px 0px 30px 0px;

  color: white;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;
}

.custom-section-list {
  margin: 0px 15px 30px 15px;
  padding-bottom: 30px;

  border-radius: 25px;
  background-image: url(../img/diplomas_bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}


.custom-list li{
  padding: 6px 0px;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
  color: white;
}

.list{
  margin-bottom: 30px;
}


.banner-small{
  margin: 0px 15px 30px 15px;

  border-radius: 25px;
  border: solid 2px;
  border-color: #DEDEDE;
}

.banner-small-container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 36px;
}


.banner-small h3{
  margin-bottom: 6px;

  color: #1B4773;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 25px;

}

.banner-small p{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.banner-small-text{
  margin-left: 15px;
}


.carusel{
  display: flex;
  overflow: auto;

  padding: 20px 0px 30px 0px;

  white-space: nowrap;

  justify-content: space-between;
  align-items: center;

}

.carusel img{
  width: 100%;
  padding: 0px 15px;
}


.carusel::-webkit-scrollbar{
  display: none;
}


.container-chevron-large-icon{
  margin-bottom: 40px;

  font-size: 17px;
  font-weight:  500;
  font-style: normal;
  line-height: 19px;
}

.container-chevron-large-icon {

  display: flex;

  margin-bottom: 16px;
  padding: 15px;

  color: #1B4773;
  border-radius: 13px;
  background-color: white;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 120%;

  justify-content: space-between;
  align-items: flex-start;;

}

.container-chevron-large-icon p{
  margin-left: 20px;
}


.container-chevron-large-icon img:last-child{
  width: 14px;
  height: 14px;
}
